@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center welcome-text">
    <h1 class="display-4 pb-3">Welcome to Notebox</h1>
    <h5>The perfect digital sanctuary for all your notes! Register, login, and effortlessly organize, edit, and delete your thoughts with ease.</h5>
    <h5>Unlock the power of personalized note-taking, right at your fingertips.</h5>
</div>
