@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center welcome-screen hidden">
    <div class="welcome-text">
        <h1 class="display-4 pb-3">Welcome to Notebox</h1>
        <h5>The perfect digital sanctuary for all your notes! Register, login, and effortlessly organize, edit, and delete your thoughts with ease.</h5>
        <h5>Unlock the power of personalized note-taking, right at your fingertips.</h5>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-4 d-flex justify-content-center">
                <div class="card mb-4">
                    <img src="https://images.pexels.com/photos/317356/pexels-photo-317356.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Easy Note Management</h5>
                        <p class="card-text">Effortlessly organize, edit, and delete your notes with our intuitive interface.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex justify-content-center">
                <div class="card mb-4">
                    <img src="https://images.pexels.com/photos/60504/security-protection-anti-virus-software-60504.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Secure and Private</h5>
                        <p class="card-text">Protect your notes with industry-standard security measures, ensuring your privacy.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex justify-content-center">
                <div class="card mb-4">
                    <img src="https://images.pexels.com/photos/4792285/pexels-photo-4792285.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Search and Filter</h5>
                        <p class="card-text">Quickly find your notes using the powerful search and filtering capabilities.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


