@model Notebox.Models.Note
@using System.Security.Claims

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<hr />
<div class="row">
    <div class="col-lg-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group pb-2">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" value="@User.FindFirst(ClaimTypes.NameIdentifier)?.Value" readonly />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label asp-for="NoteTitle" class="control-label"></label>
                <input asp-for="NoteTitle" class="form-control" />
                <span asp-validation-for="NoteTitle" class="text-danger"></span>
            </div>
            <div class="form-group pb-4">
                <label asp-for="NoteContent" class="control-label"></label>
                <input asp-for="NoteContent" class="form-control" />
                <span asp-validation-for="NoteContent" class="text-danger"></span>
            </div>
            <div class="form-group pb-4 text-center">
                <input type="submit" value="Create" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="text-black" asp-action="Index" style="text-decoration:none;"><i class="fa-solid fa-arrow-left "></i> Go Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
